.center {
    margin: auto;
    text-align: center;
  }

.bold {
    font-weight: bold;
}

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style:double;
    border-width: 5px;
  }

  html {
      background-color: burlywood;
  }